body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #fbe4e6 0%, #f8d8e1 50%, #f0c9d1 100%);
  color: #000;
  padding-top: 80px;
}

h1, h2 {
  font-family: 'Space Mono', sans-serif;
  color: #000;
}

h3 {
  font-family: 'Momo Trust Display', sans-serif;
  color: #000;
}

/* Nav Bar */
.social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* About me */
#about-me {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-left: 6px solid #d48fa3;
}

#Siyi-image img {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-right: 6px solid #d48fa3;
}

/* Experiences */
.timeline-entry {
  background: rgba(255, 182, 193, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 8px 25px rgba(255, 182, 193, 0.25);
  backdrop-filter: blur(12px);
}

.timeline-entry:hover{
  display: inline-block;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.timeline-entry .company a {
  color: #f06292;
  font-weight: 700;
  font-size: 1.4rem;
}

.timeline-entry #project a {
  color: #f06292;
  font-family: 'Momo Trust Display', sans-serif;
}

/* Contact form */
#submitbtn {
  display: block;
  background-color: #f06292;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 20px auto;
}

#submitbtn:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .timeline-entry {
    flex-direction: column;
  }
}